.search__header {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}

.search__videos {
    .video__divider {
        margin: 15px 0;
        width: 100%;
        border-bottom: 1px solid gray;
    }
}
